@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');

* {
    padding: 0;
    margin: 0;
    outline: none;
}

:root {
    --white: #fff;
    --gray: #6c757d;
    --secondary-soft: #e6edfd;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --gray-dark: #343a40;
    --primary: #dd7619;
    --secondary: #8f97ab;
    --success: #0abb75;
    --info: #25bcf1;
    --warning: #dda70a;
    --danger: #d21d42;
    --light: #f2f3f8;
    --dark: #111723;
    --hov-primary: #E56F0E;
    --soft-danger: rgba(238, 104, 131, 0.568);
    --soft-warning: rgba(255, 197, 25, 0.15);
    --soft-light: rgba(247, 240, 240, 0.664);
    --soft-info: rgba(37, 188, 241, 0.15);
    --soft-success: rgba(10, 187, 117, 0.15);
    --soft-primary: rgba(247, 123, 11, 0.15);
    --soft-secondary: rgba(143, 151, 171, 0.15);
    --soft-dark: rgba(42, 50, 66, 0.15);
    --base-gradient: linear-gradient(to right, #051937, #23274d, #403462, #604276, #824f87);
    --base-reverse-gradient: linear-gradient(to left, #051937, #23274d, #403462, #604276, #824f87);
    --base-body-gradient: linear-gradient(to bottom, #ced9eb, #cfe5ee, #daefee, #eaf7f0, #fcfff6);
    --first-gradient: linear-gradient(90deg, rgba(126,77,159,1) 0%, rgba(38,37,37,0.9668242296918768) 100%, rgba(252,176,69,1) 100%);
    --second-gradient: linear-gradient(to right, #8aae98, #75a786, #61a072, #4d985e, #399048);
    --second-reverse-gradient: linear-gradient(to left, #8aae98, #75a786, #61a072, #4d985e, #399048);
    --third-gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(90,15,96,1) 100%, rgba(0,212,255,1) 100%);
    --fourth-gradient: linear-gradient(to right, #8031b3, #9439ae, #a443a9, #b14ea6, #bc5ba3);
    --fourth-reverse-gradient: linear-gradient(to left, #8031b3, #9439ae, #a443a9, #b14ea6, #bc5ba3);
    --sixth-gradient: linear-gradient(to right, #a558cf, #a25cd6, #9f61de, #9b65e5, #976aec);
    --seventh-gradient: linear-gradient(to right, #58cfb0, #59d6bf, #5ddecf, #62e5de, #6aecec);
    --danger-gradient: linear-gradient(to right, #f692a7, #f18097, #ec6d86, #e75a76, #e04465);
    --danger-reverse-gradient: linear-gradient(to left, #f692a7, #f18097, #ec6d86, #e75a76, #e04465);
    --gradient-bg-01: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
    --gradient-bg-02: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
    --gradient-bg-03: radial-gradient( circle 732px at 96.2% 89.9%,  rgba(70,66,159,1) 0%, rgba(187,43,107,1) 92% );
    --gradient-bg-04: linear-gradient( 135deg, #FF9D6C 10%, #BB4E75 100%);
    --font-family-sans-serif: Poppins, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
/* Base CSS */
::before,::after {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--gray-dark);
    margin: 0;
    font-family: Poppins, Helvetica, sans-serif;
    font: 15px/24px 'Muli', sans-serif;
    font-weight: 400;
    line-height: 1.25;
    background-image: linear-gradient(to right, #051937, #212548, #3b3058, #553c67, #704874);
    max-width: 100vw;
    overflow-x: hidden;
}
.container-body {
   background-image: linear-gradient(to right, #051937, #212548, #3b3058, #553c67, #704874);
   color: var(--white) !important;
   border: 1px solid var(--white);
 }

input[type="text"]{
    font: 14px;
    color: var(--dark); 
    width: 100%; 
    box-sizing: border-box; 
    letter-spacing: 1px;
    padding-left: 10px;
}

.basic-textarea {
  min-height: 120px !important;
}
.search-input, .search-input:focus, .dark-text-input {
  color: var(--white) !important;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: none !important;
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.form-control.is-valid, .was-validated .form-control:valid {
  border-color: #198754;
  padding-right: calc(1.5em + 0.75rem);
  background-image: none !important;
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.pd-5{padding: 5px;}
.pd-10{padding: 10px;}
.pd-20{padding: 20px;}
.pd-30{padding: 30px;}
.pb-10{padding-bottom: 10px;}
.pb-20{padding-bottom: 20px;}
.pb-30{padding-bottom: 30px;}
.pt-10{padding-top: 10px;}
.pt-20{padding-top: 20px;}
.pt-30{padding-top: 30px;}
.pr-10{padding-right: 10px;}
.pr-20{padding-right: 20px;}
.pr-30{padding-right: 30px;}
.pl-10{padding-left: 10px;}
.pl-20{padding-left: 20px;}
.pl-30{padding-left: 30px;}
.px-30{padding-left: 30px; padding-right: 30px;}
.px-20{padding-left: 20px; padding-right: 20px;}
.py-30{padding-top: 30px; padding-bottom: 30px;}
.py-20{padding-top: 20px; padding-bottom: 20px;}
.mb-30{margin-bottom: 30px;}
.mb-50{margin-bottom: 50px;}


.font-40{font-size: 40px; line-height: 1.46em;}
.font-30{font-size: 30px; line-height: 1.46em;}
.font-24{font-size: 24px; line-height: 1.5em;}
.font-20{font-size: 20px; line-height: 1.5em;}
.font-18{font-size: 18px; line-height: 1.6em;}
.font-16{font-size: 16px; line-height: 1.75em;}
.font-14{font-size: 14px; line-height: 1.85em;}
.font-12{font-size: 12px; line-height: 2em;}

.weight-300{font-weight: 300;}
.weight-400{font-weight: 400;}
.fw-normal{font-weight: 500;}
.weight-600{font-weight: 600;}
.weight-700{font-weight: 700;}

.text-blue{color: #1b00ff;}
.text-dark{color: #000000;}
.text-white{color: #ffffff;}
.justify-with-spacing {
   letter-spacing: 1px;
   font-style: normal;
   text-align: justify;
 }
 .justify-with-no-spacing {
   font-style: normal;
   text-align: justify;
 }
 .justify-with-spacing-italic {
   letter-spacing: 1px;
   font-style: italic;
   text-align: justify;
 }
 /* Text Color */
 .text-primary {
   color: var(--primary) !important;
 }
 .text-secondary {
   color: var(--secondary) !important;
 }
 .text-success {
   color: var(--success) !important;
 }
 .text-danger {
   color: var(--danger) !important;
 }
 .text-warning {
   color: var(--warning) !important;
 }
 .text-info {
   color: var(--info) !important;
 }
 .text-light {
   color: var(--light) !important;
 }
 .text-dark {
   color: var(--dark) !important;
 }.white-text {
   color: var(--white);
 }
 .dark-text {
   color: var(--dark);
 }
 .black-text {
   color: var(--gray);
 }
 .danger-text {
   color: var(--danger);
 }
 .purple-text {
   color: var(--purple);
 }
 .indigo-text {
   color: var(--indigo);
 }
 .primary-text {
   color: var(--primary);
 }
 .bg-primary {
   background-color: var(--primary) !important;
 }
 .bg-secondary {
   background-color: var(--secondary) !important;
 }
 .bg-success {
   background-color: var(--success) !important;
 }
 .bg-warning {
   background-color: var(--warning) !important;
 }
 .bg-danger {
   background-color: var(--danger) !important;
 }
 .bg-info {
   background-color: var(--info) !important;
 }
 .bg-light {
   background-color: var(--light) !important;
 }
 .bg-gray {
   background-color: var(--gray) !important;
 }
 .height-100-p{
  height: 100%;
 }
 .border-radius-10{
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
 }
 .border-radius-100{
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   border-radius: 100%;
 }
 .box-shadow{
   -webkit-box-shadow: 0px 0px 28px rgba(255 129 39 / 30%);
   -moz-box-shadow: 0px 0px 28px rgba(255 129 39 / 30%);
   box-shadow: 0px 0px 28px rgba(255 129 39 / 30%);
 }
 .inner-base-shadow{
   box-shadow: inset 0 0 31px #8962c0c7 !important;
 }
 .side-danger-shadow{
   box-shadow: 0 7px 30px rgb(250 106 130 / 30%);
 }
 .gradient-color-bg-01{
   background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
 }
 .gradient-color-bg-02{
   background-image: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
 }
 .gradient-color-bg-03{
   background-image: radial-gradient( circle 732px at 96.2% 89.9%, rgba(70,66,159,1) 0%, rgba(187,43,107,1) 92% );
 }
 .gradient-style4{
   background-image: linear-gradient( 135deg, #FF9D6C 10%, #BB4E75 100%);
 }
.slight-radius-border{border-radius: 20%;}
.container-body {
   padding: 15px;
}
.color_input_basic {
   height: 2rem;
}

