@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
}

:root {
    --white: #fff;
    --gray: #6c757d;
    --secondary-soft: #e6edfd;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --gray-dark: #343a40;
    --primary: #dd7619;
    --secondary: #8f97ab;
    --success: #0abb75;
    --info: #25bcf1;
    --warning: #dda70a;
    --danger: #d21d42;
    --light: #f2f3f8;
    --dark: #111723;
    --hov-primary: #E56F0E;
    --soft-danger: rgba(238, 104, 131, 0.568);
    --soft-warning: rgba(255, 197, 25, 0.15);
    --soft-light: rgba(247, 240, 240, 0.664);
    --soft-info: rgba(37, 188, 241, 0.15);
    --soft-success: rgba(10, 187, 117, 0.15);
    --soft-primary: rgba(247, 123, 11, 0.15);
    --soft-secondary: rgba(143, 151, 171, 0.15);
    --soft-dark: rgba(42, 50, 66, 0.15);
    --base-gradient: linear-gradient(to right, #051937, #23274d, #403462, #604276, #824f87);
    --base-reverse-gradient: linear-gradient(to left, #051937, #23274d, #403462, #604276, #824f87);
    --base-body-gradient: linear-gradient(to bottom, #ced9eb, #cfe5ee, #daefee, #eaf7f0, #fcfff6);
    --first-gradient: linear-gradient(90deg, rgba(126,77,159,1) 0%, rgba(38,37,37,0.9668242296918768) 100%, rgba(252,176,69,1) 100%);
    --second-gradient: linear-gradient(to right, #8aae98, #75a786, #61a072, #4d985e, #399048);
    --second-reverse-gradient: linear-gradient(to left, #8aae98, #75a786, #61a072, #4d985e, #399048);
    --third-gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(90,15,96,1) 100%, rgba(0,212,255,1) 100%);
    --fourth-gradient: linear-gradient(to right, #8031b3, #9439ae, #a443a9, #b14ea6, #bc5ba3);
    --fourth-reverse-gradient: linear-gradient(to left, #8031b3, #9439ae, #a443a9, #b14ea6, #bc5ba3);
    --sixth-gradient: linear-gradient(to right, #a558cf, #a25cd6, #9f61de, #9b65e5, #976aec);
    --seventh-gradient: linear-gradient(to right, #58cfb0, #59d6bf, #5ddecf, #62e5de, #6aecec);
    --danger-gradient: linear-gradient(to right, #f692a7, #f18097, #ec6d86, #e75a76, #e04465);
    --danger-reverse-gradient: linear-gradient(to left, #f692a7, #f18097, #ec6d86, #e75a76, #e04465);
    --font-family-sans-serif: Poppins, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
/* Base CSS */
::before,::after {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--gray-dark);
    margin: 0;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
    background-image: linear-gradient(to right, #051937, #212548, #3b3058, #553c67, #704874);
    max-width: 100vw;
    overflow-x: hidden;
}
