
 *,*::after,*::before{
  box-sizing:border-box 
}
*{
  font:inherit 
}
body {
  font-family: "Lato", sans-serif;
}
img {
  border: 0;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0 0 15px 0;
  padding: 0;
}
i {
  margin-right: 5px;
}
ol, ul {
  padding-left: 0rem;
}
a {
  text-decoration: none;
}
.navbar-dark-soft {
  background-image: linear-gradient(to right, #051937, #23274d, #403462, #604276, #824f87);
  box-shadow: 1px 1px 10px #9b81ae inset;
  color: var(--white);
}
.multi-menu {
  display: none;
}
.sidebar-logo img{
  margin-top: 0px;
  margin-bottom: 10px;
  border-bottom: 3px solid var(--danger);
  max-height: 60px;
  min-width: 250px;
  max-width: 250px;
  padding-left: 5px;
  padding-right: 5px;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(to left bottom, #212548, #212548, #3b3058, #553c67, #704874);
  overflow-x: hidden;
  transition: 0.5s;
}
.sidebar a {
  padding: 8px 8px 8px 15px;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 15px;
  color: var(--white);
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  background-image: linear-gradient(to top, #051937, #23274d, #403462, #604276, #824f87);
  color: var(--white);
  font-weight: 400;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.openbtn,.right-side-icon-head {
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border: none;
}
.right-side-icon-head {
  top: 5px;
}
.selected > a {
  background-image: linear-gradient(to top, #051937, #23274d, #403462, #604276, #824f87);
  color: var(--white);
  border-left: 5px solid var(--danger);
}
.openbtn:hover {
  background-image: none;
}
#main-content {
  transition: margin-left .5s;
  padding: 16px;
}
.search-btn {
  position: relative;
  inset-inline-end: 25px;
  background-color: transparent;
  height: 40px;
  color: var(--danger);
  transition: none;
  font-size: 16px;
  border: none;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-right {
  display: flex;
  align-items: right;
}
.rounded {
  border-radius: 20px !important;
}
.form-wizard {
  padding: 20px;
}
.form-wizard .wizard-form-radio {
  display: inline-block;
  margin-left: 5px;
  position: relative;
}
.form-wizard .wizard-form-radio input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #dddddd;
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.form-wizard .wizard-form-radio input[type="radio"]:focus {
  outline: 0;
}
.form-wizard .wizard-form-radio input[type="radio"]:checked {
  background-color: var(--success);
}
.form-wizard .wizard-form-radio input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  left: 1px;
  right: 0;
  margin: 0 auto;
  top: 8px;
}
.form-wizard .wizard-form-radio input[type="radio"]:checked::after {
  content: "";
  display: inline-block;
  webkit-animation: click-radio-wave 0.65s;
  -moz-animation: click-radio-wave 0.65s;
  animation: click-radio-wave 0.65s;
  background: #000000;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  border-radius: 50%;
}
.form-wizard .wizard-form-radio input[type="radio"] ~ label {
  padding-left: 10px;
  cursor: pointer;
}
.form-wizard .form-wizard-header {
  text-align: center;
}
.form-wizard .form-wizard-next-btn, .form-wizard .form-wizard-previous-btn, .form-wizard .form-wizard-submit {
  background-color: var(--success);
  color: #ffffff;
  display: inline-block;
  min-width: 100px;
  min-width: 120px;
  padding: 10px;
  text-align: center;
}
.form-wizard .form-wizard-next-btn:hover, .form-wizard .form-wizard-next-btn:focus, .form-wizard .form-wizard-previous-btn:hover, .form-wizard .form-wizard-previous-btn:focus, .form-wizard .form-wizard-submit:hover, .form-wizard .form-wizard-submit:focus {
  color: #ffffff;
  opacity: 0.6;
  text-decoration: none;
}
.form-wizard .wizard-fieldset {
  display: none;
}
.form-wizard .wizard-fieldset.show {
  display: block;
}
.form-wizard .wizard-form-error {
  display: none;
  background-color: var(--danger);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.form-wizard .form-wizard-previous-btn {
  background-color: var(--soft-warning);
}
.form-wizard .form-control {
  font-weight: 300;
  height: auto !important;
  padding: 10px;
  color: var(--dark);
  background-color: var(--white);
  border: 1px solid var(--soft-light);
}
.form-wizard .form-control:focus, .form-control:focus {
  box-shadow: none;
  border: none;
}
.form-wizard .form-group {
  position: relative;
  margin: 25px 0;
}
.form-wizard .wizard-form-text-label {
  position: absolute;
  left: 10px;
  top: 10px;
  transition: 0.2s linear all;
}
.form-wizard .focus-input .wizard-form-text-label {
  color: var(--danger);
  top: -18px;
  transition: 0.2s linear all;
  font-size: 12px;
}
.form-wizard .form-wizard-steps {
  margin: 30px 0;
}
.form-wizard .form-wizard-steps li {
  width: 25%;
  float: left;
  position: relative;
}
.form-wizard .form-wizard-steps li::after {
  background-color: #f3f3f3;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
.form-wizard .form-wizard-steps li span {
  background-color: #dddddd;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  width: 40px;
  z-index: 1;
}
.form-wizard .form-wizard-steps li:last-child::after {
  width: 50%;
}
.form-wizard .form-wizard-steps li.active span, .form-wizard .form-wizard-steps li.activated span {
  background-color: var(--success);
  color: #ffffff;
}
.form-wizard .form-wizard-steps li.active::after, .form-wizard .form-wizard-steps li.activated::after {
  background-color: var(--success);
  left: 50%;
  width: 50%;
  border-color: var(--success);
}
.form-wizard .form-wizard-steps li.activated::after {
  width: 100%;
  border-color: var(--success);
}
.form-wizard .form-wizard-steps li:last-child::after {
  left: 0;
}
.form-wizard .wizard-password-eye {
  position: absolute;
  color: var(--danger);
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.search-input, div.dataTables_wrapper div.dataTables_filter input {
  width: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: transparent !important;
  border: 0px;
  border-bottom: 1px solid var(--danger);
  border-radius: 0px;
}
.search-input:focus,div.dataTables_wrapper div.dataTables_filter input:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  border: 0px;
  border-bottom: 1px solid var(--success);
  border-radius: 0px;
}
.nav-link:focus, .nav-link:hover, a:hover {
  color: var(--danger);
}
li a i:nth-child(2) {
  font-size: 15px;
  float: right;
}
@media screen and (max-height: 450px) {
  .sidebar {
     padding-top: 15px;
 }
  .sidebar a {
     font-size: 15px;
 }
}
.navbar-expand-sm .navbar-nav .dropdown-menu {
  position: absolute;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 12px;
  font-weight: 400;
  line-height: 0;
}
/* Dropdown */
.dropdown-toggle::after {
  display:none;
}
.dropdown-menu {
  -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  box-shadow: 0 0.5rem 1rem rgb(255 218 218);
  line-height: initial;
  border: 0px solid #e9ecef;
  margin: 0;
  font-size: 14px;
  background-color: var(--white);
}
.dropdown-item {
  display: block;
  width: auto;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-divider, .divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid var(--danger);
}
.dropdown-lg .msg-header {
  padding: 0.25rem 0.25rem;
  color: #fff;
  border-bottom: 1px solid #7e0b0b;
  background-image: linear-gradient(to bottom, #051937, #23274d, #403462, #604276, #824f87);
 /* background: var(--danger);
  */
  text-align: center;
}
.dropdown-lg .msg-header .msg-header-title {
  font-size: 14px;
  margin-bottom: 0;
}
.dropdown-lg .msg-name {
  font-size: 12px;
  margin-bottom: 0;
  white-space: normal;
}
.dropdown-lg .msg-info {
  font-size: 11px;
  margin-bottom: 0;
}
.dropdown-lg .msg-time {
  font-size: 11px;
  margin-bottom: 0;
  color: var(--danger);
}
.dropdown-lg .msg-footer {
  padding: 0.72rem 1.2rem;
  color: var(--danger);
  border-top: 1px solid #ededed;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.navbar .dropdown-menu::after {
  content: '';
  width: 13px;
  height: 13px;
  background: #ffff;
  position: absolute;
  top: -6px;
  right: 8px;
  transform: rotate(45deg);
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.bottom-border-input, .bottom-border-input:focus{
  border: 0;
  color: var(--white);
  background: transparent;
  border-bottom: 1px solid #fff;
  border-radius: 0px;
}
.transparent-background {
  background: transparent !important;
}
.transparent-bg-input {
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}
.transparent-bg-input:focus {
  background: transparent;
  border: 1px solid var(--primary);
  color: var(--white);
}
.transparent-bg-select, .transparent-bg-select:focus {
  background: transparent;
  box-shadow: none;
  border-color: var(--white);
  color: var(--white);
}
.basic-select option {
  background-color: #503964;
  color: var(--white);
  font-weight: 300;
}
.basic-checkbox:checked {
  background-color: #FF9D6C;
  border-color: var(--primary);
  box-shadow: none;
}
.form-check-input:focus {
  box-shadow: none;
  outline: none;
}
.form-switch .form-check-input, .form-check-input {
  width: 3em;
  height: 1.25em;
}
.form-check-input {
  width: 1.25em;
  height: 1.25em;
}
.input-group-sm>.input-group-text, .input-group>.input-group-text {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #503964;
  color: var(--white);
  font-weight: 700;
}
.input-group-sm>.right-side-round-input, .input-group>.right-side-round-input {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* Divider */
.white-bottom-divider {
  border-bottom: 2px solid #fff;
  margin-bottom: 15px;
  width: 90%;
}
.white-bottom-divider-100 {
  border-bottom: 2px solid #fff;
  margin-bottom: 15px;
  width: 100%;
}
.danger-bottom-divider {
  border-bottom: 2px solid var(--danger);
  margin-bottom: 15px;
  width: 100%;
}
/* Divider */
/* Upper Right Avatar Profile */
.user-box {
  line-height: 1.3;
}
.user-info {
  text-align: right;
  margin-right: 15px;
}
.user-info .user-name {
  font-size: 14px;
  color: var(--white);
  font-weight: 500;
}
.user-info .designattion {
  font-size: 12px;
  color: var(--white);
}
.user-img {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  border: 2px solid var(--danger);
  padding: 3px;
}
/* Upper Right Avatar Profile */
.vertical-align-middle {
  vertical-align: middle;
}
.span-count {
  position: absolute;
  left: 20px;
  top: 2px;
  font-size: 11px;
  font-weight: 500;
  width: 18px;
  height: 18px;
  text-align: center;
  border-radius: 50%;
  z-index: 5;
  padding: 0;
  color: var(--white);
  background-color: var(--danger);
  display: flex;
  justify-content: center;
  align-items: center;
}
.msg-header-subtitle {
  margin-bottom: 0;
}
.header-notifications-list {
  position: relative;
  height: 370px;
}
.notification-div {
  max-width: 250px;
  min-width: 250px;
  max-height: 300px;
  overflow: auto;
}
.content {
  margin-top: 10px;
}
/* widget style 1 */
.project-content {
  margin-inline-start: 4.5rem;
}
.square-icon {
  height: 100%;
  width: 85px;
  position: absolute;
  float: right;
  line-height: 7;
}
.square-icon .bx-icon {
  display: block;
  margin-block-start: 25px;
}
.widget-style1{
  padding: 20px 10px;
  box-shadow: 0px 10px 30px rgb(255 129 39 / 30%) !important;
  background-image: linear-gradient( 135deg, #FF9D6C 10%, #BB4E75 100%);
}
.widget-style1:hover{
  cursor: pointer;
  color: var(--white);
  padding: 20px 10px;
  box-shadow: 0px 10px 30px rgb(255 129 39 / 30%) !important;
  background-image: linear-gradient( 135deg, #BB4E75 10%, #FF9D6C 100%);
  transition: all 0.4s ease 0s;
}
.widget-style2{
  padding: 20px;
  box-shadow: 0px 10px 30px rgb(255 129 39 / 30%) !important;
  background-color: var(--white);
 /* background-color: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
  */
}
.widget-style2:hover{
  cursor: pointer;
  color: var(--primary);
  box-shadow: 0px 10px 30px rgb(255 129 39 / 30%) !important;
  background-color: var(--secondary-soft);
 /* background-image: linear-gradient( 135deg, #5151E5 10%, #72EDF2 100%);
  */
  transition: all 0.4s ease 0s;
}
.widget-style1 .circle-icon{
  width: 60px;
}
.widget-style1 .circle-icon .icon{
  width: 60px;
  height: 60px;
  background: #ecf0f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.widget-style1 .widget-data{
  width: calc(100% - 150px);
  padding: 0 15px;
}
.widget-style1 .progress-data{
  width: 90px;
}
.widget-style1 .progress-data .apexcharts-canvas{
  margin: 0 auto;
}
.widget-style3{
  padding: 30px 20px;
}
.widget-style3 .widget-data{
  width: calc(100% - 60px);
}
.widget-style3 .widget-icon{
  width: 60px;
  font-size: 45px;
  line-height: 1;
}
/* BreadCrumbs */
.breadcrumb-header {
  display: flex;
  width: 100%;
  z-index: 0;
}
.breadcrumb-item+.breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #ffffff;
  content: var(--bs-breadcrumb-divider, "/");
}
.breadcrumb-item {
  color: var(--white);
  font-size: 12px;
}
.breadcrumb-item.active {
  color: var(--white);
}
.breadcrumb-basic {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-block-end: 1rem;
  list-style: none;
  border-radius: 0.25rem;
}
/* BreadCrumbs */
/* Cards Design */
.modal-dialog-bottom {
  position: fixed;
  top: auto;
  right: auto;
  left: auto;
  bottom: 0;
}
.card-body,.modal-body,.accordion-body,.container-body {
  background-image: linear-gradient(to bottom, #ced9eb, #cfe5ee, #daefee, #eaf7f0, #fcfff6);
}
.card-header,.modal-header {
  font-size: 14px;
  font-weight: 500;
  background-image: linear-gradient(to bottom, #ced9eb, #cfe5ee, #daefee, #eaf7f0, #fcfff6);
}
.card-footer,.modal-footer {
  font-size: 10px;
  font-weight: 400;
  color: var(--gray);
  background-image: linear-gradient(to top, #ced9eb, #cfe5ee, #daefee, #eaf7f0, #fcfff6);
}
.card-img-top {
  max-height: 140px;
}
.card-img-top-second {
  min-height: 200px;
  max-height: 200px;
}
.card-img-top-medium {
  min-height: 200px;
  max-height: 400px;
}
.card-header-with-success-background {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 13px;
  background-image: linear-gradient(to right, #58cfb0, #59d6bf, #5ddecf, #62e5de, #6aecec);
  font-weight: 500;
}
.card-body-with-success-background {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  border-top: 1px solid #66ab9f;
  background-image: linear-gradient(to right, #58cfb0, #59d6bf, #5ddecf, #62e5de, #6aecec);
}
.card-header-with-primary-background {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 13px;
  background-image: linear-gradient(to right, #5858cf, #0078db, #008ed2, #009ebd, #3baaaa);
  font-weight: 500;
}
.card-body-with-primary-background {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  border-top: 1px solid #000000;
  background-image: linear-gradient(to right, #5858cf, #0078db, #008ed2, #009ebd, #3baaaa);
}
.card-header-with-gradient-background {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 13px;
  background-image: linear-gradient(to right bottom, #d5a8ff, #cb9ff9, #c196f4, #b78eee, #ac85e9);
  font-weight: 500;
}
.card-body-with-gradient-background {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  border-top: 1px solid #000000;
  background-image: linear-gradient(to right bottom, #d5a8ff, #cb9ff9, #c196f4, #b78eee, #ac85e9);
}
.card-header-with-gradient2-background {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 13px;
  background-image: linear-gradient(to right bottom, #9b4e62, #8e5074, #7a5581, #625a87, #485e87);
  font-weight: 500;
}
.card-body-with-gradient2-background {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  border-top: 1px solid #000000;
  background-image: linear-gradient(to right bottom, #9b4e62, #8e5074, #7a5581, #625a87, #485e87);
}
.card-header-with-gradient3-background {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 13px;
  background-image: linear-gradient(to left, #f8acee, #dfa3ea, #c69be4, #ac93dd, #918bd4);
  font-weight: 500;
}
.card-body-with-gradient3-background {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  border-top: 1px solid #000000;
  background-image: linear-gradient(to left, #f8acee, #dfa3ea, #c69be4, #ac93dd, #918bd4);
}
/* Cards Design */

.title {
  font-size: 16;
  font-weight: 600;
}
/* Text Color */
/* Basic Table Design */
.basic-table, .basic-table-2, .basic-table-3 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.basic-table td, .basic-table th, .basic-table-2 td, .basic-table-2 th {
  border: 1px solid rgb(187, 53, 53);
  padding: 8px;
}
.basic-table tr:nth-child(even), .basic-table-2 tr:nth-child(even){
  background-color: #f2f2f2;
}
.basic-table tr:hover,.basic-table th:hover {
  background-image: var(--base-reverse-gradient);
  color: var(--light);
}
.basic-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  text-align: left;
  font-weight: 700;
  background-image: linear-gradient(to right, #051937, #212548, #3b3058, #3b3058, #704874);
  box-shadow: 1px 1px 10px #9b81ae inset;
  color: white;
}
.basic-table tfoot > tr > td {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  text-align: left;
  font-weight: 700;
  background-image: linear-gradient(to right, #051937, #212548, #3b3058, #3b3058, #704874);
  box-shadow: 1px 1px 10px #9b81ae inset;
  color: white;
}
.basic-table-2 td, .basic-table-2 th, .basic-table-3 td, .basic-table-3 th {
  border: 1px solid rgb(187, 53, 53);
  padding: 8px;
}
.basic-table tr:hover, table.dataTable tbody tr:hover {
  color: var(--white);
}
.basic-table-2 th, table.dataTable thead th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  text-align: left;
  font-weight: 700;
  background-image: linear-gradient(to top, #ced9eb, #cfe5ee, #daefee, #eaf7f0, #fcfff6);
  color: var(--dark);
}
.basic-table-2 tfoot > tr > td, table.dataTable tfoot th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  text-align: left;
  font-weight: 700;
  background-image: linear-gradient(to bottom, #ced9eb, #cfe5ee, #daefee, #eaf7f0, #fcfff6);
  color: rgb(0, 0, 0);
}
.basic-table-3 th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  text-align: left;
  font-weight: 700;
  background-color: var(--soft-light);
  color: var(--dark);
}
.basic-table-3 tfoot > tr > td {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  text-align: left;
  font-weight: 700;
  background-color: var(--soft-light);
  color: var(--dark);
}
a.page-link {
  border: none;
}
@media (max-width: 992px) {
  .basic-table, .basic-table-2, .basic-table-3, table.dataTable {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
      display: block;
      overflow: auto;
 }
  div.dt-buttons, div.dataTables_wrapper div.dataTables_length {
      float: none !important;
      text-align: left;
      margin-bottom: 5px;
 }
  .search-input, div.dataTables_wrapper div.dataTables_filter input {
      width: 55%;
      margin-bottom: 5px;
      margin-top: 5px;
      background-color: transparent !important;
      border: 0px;
      border-bottom: 1px solid var(--danger);
      border-radius: 0px;
 }
}
/* Basic Table Design End */
/* DataTable Design */
ul.pagination {
  border: none;
}
table.dataTable tbody tr:hover {
  background-image: linear-gradient(to right, #051937, #23274d, #403462, #604276, #824f87);
  box-shadow: 1px 1px 10px #9b81ae inset;
  font-weight: 400;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--success);
  box-shadow: 1px 1px 10px #9b81ae inset;
}
div.dataTables_wrapper div.dataTables_filter label, div.dataTables_wrapper div.dataTables_length label {
  font-weight: 500;
  white-space: nowrap;
  text-align: left;
  font-size: 13px;
  letter-spacing: 0.5px;
}
.table>:not(:last-child)>:last-child>* {
  border: none !important;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
  float: right;
}
div.dataTables_wrapper div.dataTables_length select, .base-table-select {
  width: 6em;
  outline: 0;
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--indigo);
  cursor: pointer;
  font-size: 1.10em;
  display: inline-block;
  box-shadow: none;
  background: #ecf0fa;
  position: relative;
  overflow: hidden;
  border-radius: .25em;
}
div.dataTables_wrapper div.dataTables_length select:focus {
  border-color: var(--danger);
}
/* DataTable Design */
/* Base Table Design */
.base_table_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 20px;
  flex-wrap: wrap;
}
.base_table_btns {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  flex-wrap: wrap;
}
.base-table-pdf-btns {
  display: inline-flex;
  border: 1px solid var(--danger);
  border-radius: 10px;
  padding: 0 20px;
}
.base-table-pdf-btns button:not(:last-child), .base-table-pdf-btns a:not(:last-child) {
  border-right: 1px solid var(--danger);
  margin-right: 5px;
}
.base-table-pdf-btns button:hover, .base-table-pdf-btns a:hover {
  background: var(--base-gradient);
  background-size: auto;
  color: #ffffff;
  background-size: 200% auto;
}
.base-table-pdf-btns a {
  background: transparent;
  color: var(--dark);
  font-size: 14px;
  font-weight: 500;
  border: 0;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  transition: 0.3s;
  cursor: pointer;
}
.base-table-search-field {
  width: 200px;
  position: relative;
}
.input-effect {
  float: left;
  width: 100%;
  position: relative;
}
.base-table-search-field .search-inner input {
  color: var(--dark);
  font-size: 10px;
  height: 40px;
  width: 100%;
  padding-left: 25px;
  border: 0;
  padding-right: 15px;
  border-bottom: 1px solid var(--gray);
  background: transparent;
}
.base-table-search-field .search-inner button {
  position: absolute;
  left: 0;
  top: 12px;
  height: 100%;
  width: 20px;
  color: var(--gray);
  background: transparent;
  font-size: 12px;
  border: 0;
  padding-left: 0px;
  padding-right: 11px;
}
.base-table-search-box:focus {
  box-shadow: 0 0 0 0rem transparent !important;
  border-color: var(--danger) !important;
}
/* Base Table Design */
/* Loader design */
.base-spinner {
  width: 56px;
  height: 56px;
  background-image: linear-gradient(to right, #051937, #23274d, #403462, #604276, #824f87);
  border: groove;
}
/* Loader design end */
.rounded-count.danger-text {
  border-radius: 50%;
  margin-left: 10px;
}
.product-box-lg {
  position: relative;
  width: auto;
  max-width: 435px;
  height: 250px;
  background-image: linear-gradient(to left, #f8acee, #dfa3ea, #c69be4, #ac93dd, #887fe9);
  overflow: hidden;
}
/* Discount Ribbon */
span.discount_amount_triangle {
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 10px;
  white-space: normal;
  font-weight: 600;
}
.ribbon {
  position: absolute;
  display: inline-block;
  top: 0.5em;
  right: 0.8em;
  max-width: 5em;
  color: var(--white);
  font-weight: 500;
  z-index: 1;
}
.ribbon::after {
  position: absolute;
  top: -1.5em;
  right: -6em;
  content: "";
  height: 5em;
  width: 15em;
  transform: rotatez(45deg);
  z-index:-1;
}
.ribbon-second {
  line-height: 0.8em;
  font-size: 1em;
  line-height: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgb(0 0 0 / 15%);
  display: block;
  width: 3rem;
  height: 2.96rem;
  color: white;
  margin: 0em 0.5em 0;
  float: left;
  padding-top: 1.5rem;
  position: relative;
  -webkit-filter: drop-shadow(0 0.5rem 0.3em rgba(0, 0, 0, 0.5));
  transform: translate3d(0, 0, 0);
}
.ribbon-second {
  background: linear-gradient(to bottom, #caf286 0%, #ff0000 100%);
}
.ribbon-next-color {
  background: linear-gradient(to bottom, #fc3d02 0%, #435caf 100%);
}
.ribbon-second:after {
  content: "";
  width: 0;
  height: 0;
  border-right: 1.52rem solid transparent;
  border-left: 1.52rem solid transparent;
  position: absolute;
  top: 2.95rem;
  left: 0;
}
.ribbon-next-color:after {
  border-top: 1.5rem solid #6443dc;
}
.ribbon-second-color:after {
  border-top: 1.5rem solid #ff0000;
}
.red-ribbon::after {
  background-color: var(--danger);
}
.indigo-ribbon::after {
  background-color: var(--indigo);
}
/* Discount Ribbon */
/* Buttons Design */

.base-color-background {
  background-image: var(--base-gradient);
  color: var(--white);
}
.base-color-background:hover {
  background-image: linear-gradient(to top, #051937, #23274d, #403462, #604276, #824f87);
  color: var(--white);
}
.danger-color-background {
  background-image: var(--danger-gradient);
  color: var(--white);
}
.danger-color-background:hover {
  background-image: var(--danger-reverse-gradient);
  color: var(--white);
}
.green-color-background {
  background-image: var(--second-gradient);
  color: var(--white);
}
.green-color-background:hover {
  background-image: var(--second-reverse-gradient);
  color: var(--white);
}
.ignito-color-background {
  background-image: var(--base-gradient);
  color: var(--white);
}
.ignito-color-background:hover {
  background-image: var(--base-reverse-gradient);
  color: var(--white);
}
.c-color-background {
  background-image: var(--fourth-gradient);
  color: var(--white);
}
.d-color-background {
  background-image: var(--second-gradient);
  color: var(--white);
}
.d-color-background:hover {
  background-image: var(--fourth-gradient);
  color: var(--white);
}
.e-color-background {
  background-image: var(--third-gradient);
  color: var(--white);
}
.e-color-background:hover {
  background-image: var(--second-gradient);
  color: var(--white);
}
.c-color-background:hover {
  background-image: var(--fourth-reverse-gradient);
  color: var(--white);
}
.btn-primary, .btn-primary:focus {
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--danger);
}
.btn-primary:hover {
  color: var(--dark);
  background-image: var(--base-body-gradient);
  border-color: var(--danger) !important;
  font-weight: 400;
  box-shadow: 0 .125rem .25rem var(--danger);
}
.btn-secondary, .btn-secondary:focus {
  color: var(--white);
  background-color: var(--gray);
  border-color: var(--danger);
}
.btn-secondary:hover {
  color: var(--dark);
  background-image: var(--base-body-gradient);
  border-color: var(--danger);
  font-weight: 400;
  box-shadow: 0 .125rem .25rem var(--danger);
}
.btn-success, .btn-success:focus {
  color: var(--white);
  background-color: var(--success);
  border-color: var(--danger);
}
.btn-success:hover {
  color: var(--dark);
  background-image: var(--base-body-gradient);
  border-color: var(--danger);
  font-weight: 400;
  box-shadow: 0 .125rem .25rem var(--danger);
}
.btn-danger, .btn-danger:focus {
  color: var(--white);
  background-color: var(--danger);
  border-color: var(--secondary);
}
.btn-danger:hover {
  color: var(--dark);
  background-image: var(--base-body-gradient);
  border-color: var(--secondary);
  font-weight: 400;
  box-shadow: 0 .125rem .25rem var(--danger);
}
.btn-warning, .btn-warning:focus {
  color: var(--white);
  background-color: var(--warning);
  border-color: var(--danger);
}
.btn-warning:hover {
  color: var(--dark);
  background-image: var(--base-body-gradient);
  border-color: var(--danger);
  font-weight: 400;
  box-shadow: 0 .125rem .25rem var(--danger);
}
.btn-info, .btn-info:focus {
  color: var(--white);
  background-color: var(--info);
  border-color: var(--danger);
}
.btn-info:hover {
  color: var(--dark);
  background-image: var(--base-body-gradient);
  border-color: var(--danger);
  font-weight: 400;
  box-shadow: 0 .125rem .25rem var(--danger);
}
.btn-light, .btn-light:focus {
  color: var(--dark);
  background-color: var(--light);
  border-color: var(--danger);
}
.btn-light:hover {
  color: var(--dark);
  background-image: var(--base-body-gradient);
  border-color: var(--danger);
  font-weight: 400;
  box-shadow: 0 .125rem .25rem var(--danger);
}
.btn-dark, .btn-dark:focus {
  color: var(--white);
  background-color: var(--dark);
  border-color: var(--danger);
}
.btn-dark:hover {
  color: var(--danger);
  background-image: var(--base-body-gradient);
  border-color: var(--danger);
  font-weight: 400;
  box-shadow: 0 .125rem .25rem var(--danger);
}
.btn-link, .btn-link:focus {
  color: var(--danger);
  text-decoration: none;
  font-weight: 400;
}
.btn-link:hover {
  color: var(--indigo);
  font-weight: 400;
  box-shadow: 0 .125rem .25rem var(--danger);
}
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
  color: #fff;
  background-color: var(--danger);
  border-color: var(--primary);
}
.btn-outline-primary {
  color: var(--dark);
  border-color: var(--primary);
}
.btn-outline-primary:hover {
  color: var(--dark);
  background-color: var(--hov-primary);
  border-color: var(--danger);
  font-weight: 400;
}
.btn-outline-secondary {
  color: var(--dark);
  border-color: var(--secondary);
}
.btn-outline-secondary:hover {
  color: var(--dark);
  background-color: var(--secondary);
  border-color: var(--danger);
  font-weight: 400;
}
.btn-outline-success {
  color: var(--dark);
  border-color: var(--success);
}
.btn-outline-success:hover {
  color: var(--dark);
  background-color: var(--soft-success);
  border-color: var(--danger);
  font-weight: 400;
}
.btn-outline-danger {
  color: var(--dark);
  border-color: var(--danger);
}
.btn-outline-danger:hover {
  color: var(--dark);
  background-color: var(--soft-danger);
  border-color: var(--secondary);
  font-weight: 400;
}
.btn-outline-warning {
  color: var(--dark);
  border-color: var(--warning);
}
.btn-outline-warning:hover {
  color: var(--dark);
  background-color: var(--soft-warning);
  border-color: var(--danger);
  font-weight: 400;
}
.btn-outline-info {
  color: var(--dark);
  border-color: var(--info);
}
.btn-outline-info:hover {
  color: var(--dark);
  background-color: var(--soft-info);
  border-color: var(--danger);
  font-weight: 400;
}
.btn-outline-light {
  color: var(--dark);
  border-color: var(--light);
}
.btn-outline-light:hover {
  color: var(--dark);
  background-color: var(--soft-light);
  border-color: var(--danger);
  font-weight: 400;
}
.btn-outline-dark {
  color: var(--dark);
  border-color: var(--dark);
}
.btn-outline-dark:hover {
  color: var(--danger);
  background-color: var(--soft-dark);
  border-color: var(--danger);
  font-weight: 400;
}
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
  color: var(--dark);
  background-image: var(--base-body-gradient) !important;
}
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.btn-check:checked {
  outline: none !important;
  box-shadow: none !important;
}
.action-td-div {
  display: flex;
  float: right;
}
a.td-action {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
}
a.td-action:hover {
  background-image: var(--base-body-gradient);
  color: var(--indigo);
}
.action-td-div a:not(:last-child) {
  margin-right: 5px;
}
input[type=checkbox], input[type=checkbox] {
  outline: none !important;
}
/* Buttons Design */
/* Pagination style */
.pagination {
  display: flex;
  list-style: none;
  padding: 10px;
  border: 1px solid var(--success);
  border-radius: 10px;
  width: max-content;
}
.page-link {
  position: relative;
  display: block;
  color: var(--dark);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid var(--dark);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.page-link:hover {
  z-index: 2;
  color: var(--white);
  background-image: var(--base-gradient);
  border-color: var(--danger);
  box-shadow: 1px 1px 10px #9b81ae inset;
}
.page-item:first-child .page-link, .pagination-sm .page-item:first-child .page-link, .pagination-lg .page-item:first-child .page-link {
  border-radius: 1rem;
}
.page-item .page-link {
  border-radius: 1rem;
}
.page-item:last-child .page-link, .pagination-sm .page-item:last-child .page-link, .pagination-lg .page-item:last-child .page-link {
  border-radius: 1rem;
}
.page-item .page-link {
  border-radius: 1rem;
  margin-left: 5px;
}
.page-item:not(:first-child) .page-link {
  margin-left: 5px;
}
.page-link:focus {
  z-index: 3;
  color: var(--white);
  background-image: var(--base-gradient);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--soft-success);
}
.page-item2:first-child .page-link, .pagination-sm .page-item2:first-child .page-link, .pagination-lg .page-item2:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.page-item2:last-child .page-link, .pagination-sm .page-item2:last-child .page-link, .pagination-lg .page-item2:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
/* Pagination style */
/* Form Wizard */
.wizard-content-left {
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.45);
  background-image: url("../img/wizard-bg.jpg");
  background-position: center center;
  background-size: cover;
  height: 90vh;
  padding: 20px;
}
.wizard-content-left h1 {
  color: #ffffff;
  font-size: 38px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
}
@keyframes click-radio-wave {
  0% {
      width: 25px;
      height: 25px;
      opacity: 0.35;
      position: relative;
 }
  100% {
      width: 60px;
      height: 60px;
      margin-left: -15px;
      margin-top: -15px;
      opacity: 0.0;
 }
}
@media screen and (max-width: 767px) {
  .wizard-content-left {
      height: auto;
 }
}
/* Form Wizard */
/* */
.accordion-button:not(.collapsed) {
  color: var(--white);
  background-image: var(--base-gradient);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button:focus {
  z-index: 3;
  border-color: var(--dark);
  outline: 0;
  box-shadow: none;
}
/* */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #051937, #23274d, #403462, #604276, #824f87);
}
