/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"); */
*,*::after,*::before{
box-sizing:border-box
}
*{
font:inherit
}
body {
font-family: "Lato", sans-serif;
}
i {
margin-right: 5px;
}
ol, ul {
padding-left: 0rem;
}
a {
text-decoration: none;
}
.navbar-dark-soft {
  background-image: linear-gradient(to right, #051937, #23274d, #403462, #604276, #824f87);
  box-shadow: 1px 1px 10px #9b81ae inset;
  color: var(--white);
}
.multi-menu {
display: none;
}
.sidebar-logo img{
margin-top: 0px;
margin-bottom: 10px;
border-bottom: 3px solid var(--danger);
max-height: 60px;
min-width: 250px;
max-width: 250px;
padding-left: 5px;
padding-right: 5px;
}
.sidebar {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-image: linear-gradient(to left bottom, #212548, #212548, #3b3058, #553c67, #704874);
overflow-x: hidden;
transition: 0.5s;
}
.sidebar a {
padding: 8px 8px 8px 15px;
text-decoration: none;
letter-spacing: 1px;
font-size: 15px;
color: var(--white);
display: block;
transition: 0.3s;
}
.sidebar a:hover {
  background-image: linear-gradient(to top, #051937, #23274d, #403462, #604276, #824f87);
color: var(--white);
font-weight: 400;
}
.sidebar .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.openbtn,.right-side-icon-head {
font-size: 20px;
cursor: pointer;
color: white;
padding: 10px 15px;
border: none;
}
.right-side-icon-head {
top: 5px;
}
.selected > a {
  background-image: linear-gradient(to top, #051937, #23274d, #403462, #604276, #824f87);
color: var(--white);
border-left: 5px solid var(--danger);
}
.openbtn:hover {
  background-image: none;
}
#main-content {
transition: margin-left .5s;
padding: 16px;
}
.search-input, div.dataTables_wrapper div.dataTables_filter input {
background: #ecf0fa;
border: 1px solid #ecf0fa;
}
.search-btn {
position: relative;
inset-inline-end: 25px;
background-color: transparent;
height: 40px;
color: var(--danger);
transition: none;
font-size: 16px;
border: none;
}
.header-left {
display: flex;
align-items: center;
}
.header-right {
display: flex;
align-items: right;
}
.search-input:focus,div.dataTables_wrapper div.dataTables_filter input:focus {
border: 1px solid var(--danger);
outline: none !important;
box-shadow: none !important;
}
.nav-link:focus, .nav-link:hover, a:hover {
  color: var(--danger);
}
li a i:nth-child(2) {
font-size: 15px;
float: right;
}
@media screen and (max-height: 450px) {
.sidebar {padding-top: 15px;}
.sidebar a {font-size: 15px;}
}
.navbar-expand-sm .navbar-nav .dropdown-menu {
position: absolute;
}
.form-control {
display: block;
width: 100%;
padding: 0.375rem 0.75rem;
font-size: 12px;
font-weight: 400;
line-height: 0;
}
/* Dropdown */
.dropdown-toggle::after {
display:none;
}
.dropdown-menu {
-webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
box-shadow: 0 0.5rem 1rem rgb(255 218 218);
line-height: initial;
border: 0px solid #e9ecef;
margin: 0;
font-size: 14px;
background-color: var(--white);
}
.dropdown-item {
display: block;
width: auto;
padding: 0.25rem 1rem;
clear: both;
font-weight: 400;
color: #212529;
text-align: left;
text-decoration: none;
white-space: nowrap;
background-color: transparent;
border: 0;
}
.dropdown-divider, .divider {
height: 0;
margin: 0.5rem 0;
overflow: hidden;
border-top: 1px solid var(--danger);
}
.dropdown-lg .msg-header {
padding: 0.25rem 0.25rem;
color: #fff;
border-bottom: 1px solid #7e0b0b;
background-image: linear-gradient(to bottom, #051937, #23274d, #403462, #604276, #824f87);
/* background: var(--danger); */
text-align: center;
}
.dropdown-lg .msg-header .msg-header-title {
font-size: 14px;
margin-bottom: 0;
}
.dropdown-lg .msg-name {
font-size: 12px;
margin-bottom: 0;
white-space: normal;
}
.dropdown-lg .msg-info {
font-size: 11px;
margin-bottom: 0;
}
.dropdown-lg .msg-time {
font-size: 11px;
margin-bottom: 0;
color: var(--danger);
}
.dropdown-lg .msg-footer {
padding: 0.72rem 1.2rem;
color: var(--danger);
border-top: 1px solid #ededed;
background: transparent;
font-size: 14px;
font-weight: 500;
border-bottom-left-radius: 0.25rem;
border-bottom-right-radius: 0.25rem;
}
.navbar .dropdown-menu::after {
content: '';
width: 13px;
height: 13px;
background: #ffff;
position: absolute;
top: -6px;
right: 8px;
transform: rotate(45deg);
border-top: 1px solid #ddd;
border-left: 1px solid #ddd;
}
/* Dropdown */

/* Divider */
.white-bottom-divider {
  border-bottom: 2px solid #fff;
  margin-bottom: 15px;
  width: 90%;
}
.white-bottom-divider-100 {
  border-bottom: 2px solid #fff;
  margin-bottom: 15px;
  width: 100%;
}
.danger-bottom-divider {
  border-bottom: 2px solid var(--danger);
  margin-bottom: 15px;
  width: 100%;
}
/* Divider */

/* Upper Right Avatar Profile */
.user-box {
line-height: 1.3;
}
.user-info {
text-align: right;
margin-right: 15px;
}
.user-info .user-name {
font-size: 14px;
color: var(--white);
font-weight: 500;
}
.user-info .designattion {
font-size: 12px;
color: var(--white);
}
.user-img {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  border: 2px solid var(--danger);
  padding: 3px;
}
/* Upper Right Avatar Profile */

.vertical-align-middle {
vertical-align: middle;
}
.span-count {
position: absolute;
left: 20px;
top: 2px;
font-size: 11px;
font-weight: 500;
width: 18px;
height: 18px;
text-align: center;
border-radius: 50%;
z-index: 5;
padding: 0;
color: var(--white);
background-color: var(--danger);
display: flex;
justify-content: center;
align-items: center;
}
.msg-header-subtitle {
margin-bottom: 0;
}
.header-notifications-list {
position: relative;
height: 370px;
}
.notification-div {
max-width: 250px;
min-width: 250px;
max-height: 300px;
overflow: auto;
}
.content {
  margin-top: 10px;
}

/* BreadCrumbs */
.breadcrumb-header {
  display: flex;
  width: 100%;
  z-index: 0;
}
.breadcrumb-item+.breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #ffffff;
  content: var(--bs-breadcrumb-divider, "/");
}
.breadcrumb-item {
  color: var(--white);
  font-size: 12px;
}
.breadcrumb-item.active {
  color: var(--white);
}
.breadcrumb-basic {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-block-end: 1rem;
  list-style: none;
  border-radius: 0.25rem;
}
/* BreadCrumbs */

/* Cards Design */
.modal-dialog-bottom {
  position: fixed;
  top: auto;
  right: auto;
  left: auto;
  bottom: 0;
}
.card-body,.modal-body,.accordion-body {
  background-image: linear-gradient(to bottom, #ced9eb, #cfe5ee, #daefee, #eaf7f0, #fcfff6);
}
.card-header,.modal-header {
  font-size: 14px;
  font-weight: 500;
  background-image: linear-gradient(to bottom, #ced9eb, #cfe5ee, #daefee, #eaf7f0, #fcfff6);
}
.card-footer,.modal-footer {
  font-size: 10px;
  font-weight: 400;
  color: var(--gray);
  background-image: linear-gradient(to top, #ced9eb, #cfe5ee, #daefee, #eaf7f0, #fcfff6);
}
.card-img-top {
  max-height: 140px;
}
.card-img-top-second {
  min-height: 200px;
  max-height: 200px;
}
.card-img-top-medium {
  min-height: 200px;
  max-height: 400px;
}
.card-header-with-success-background {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 13px;
  background-image: linear-gradient(to right, #58cfb0, #59d6bf, #5ddecf, #62e5de, #6aecec);
  font-weight: 500;
}
.card-body-with-success-background {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  border-top: 1px solid #66ab9f;
  background-image: linear-gradient(to right, #58cfb0, #59d6bf, #5ddecf, #62e5de, #6aecec);
}
.card-header-with-primary-background {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 13px;
  background-image: linear-gradient(to right, #5858cf, #0078db, #008ed2, #009ebd, #3baaaa);
  font-weight: 500;
}
.card-body-with-primary-background {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  border-top: 1px solid #000000;
  background-image: linear-gradient(to right, #5858cf, #0078db, #008ed2, #009ebd, #3baaaa);
}
.card-header-with-gradient-background {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 13px;
  background-image: linear-gradient(to right bottom, #d5a8ff, #cb9ff9, #c196f4, #b78eee, #ac85e9);
  font-weight: 500;
}
.card-body-with-gradient-background {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  border-top: 1px solid #000000;
  background-image: linear-gradient(to right bottom, #d5a8ff, #cb9ff9, #c196f4, #b78eee, #ac85e9);
}
.card-header-with-gradient2-background {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 13px;
  background-image: linear-gradient(to right bottom, #9b4e62, #8e5074, #7a5581, #625a87, #485e87);
  font-weight: 500;
}
.card-body-with-gradient2-background {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  border-top: 1px solid #000000;
  background-image: linear-gradient(to right bottom, #9b4e62, #8e5074, #7a5581, #625a87, #485e87);
}
.card-header-with-gradient3-background {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 13px;
  background-image: linear-gradient(to left, #f8acee, #dfa3ea, #c69be4, #ac93dd, #918bd4);
  font-weight: 500;
}
.card-body-with-gradient3-background {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  border-top: 1px solid #000000;
  background-image: linear-gradient(to left, #f8acee, #dfa3ea, #c69be4, #ac93dd, #918bd4);
}
/* Cards Design */

.justify-with-spacing {
  letter-spacing: 1px;
  font-style: normal;
  text-align: justify;
}
.justify-with-no-spacing {
  font-style: normal;
  text-align: justify;
}
.justify-with-spacing-italic {
  letter-spacing: 1px;
  font-style: italic;
  text-align: justify;
}
.title {
  font-size: 16;
  font-weight: 600;
}

/* Text Color */
.text-primary {
color: var(--primary) !important;
}
.text-secondary {
color: var(--secondary) !important;
}
.text-success {
color: var(--success) !important;
}
.text-danger {
color: var(--danger) !important;
}
.text-warning {
color: var(--warning) !important;
}
.text-info {
color: var(--info) !important;
}
.text-light {
color: var(--light) !important;
}
.text-dark {
color: var(--dark) !important;
}
/* Text Color */

/* Basic Table Design */
.basic-table, .basic-table-2, .basic-table-3 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.basic-table td, .basic-table th, .basic-table-2 td, .basic-table-2 th {
  border: 1px solid rgb(187, 53, 53);
  padding: 8px;
}

.basic-table tr:nth-child(even), .basic-table-2 tr:nth-child(even){
  background-color: #f2f2f2;
}

.basic-table tr:hover,.basic-table th:hover {
  background-image: var(--base-reverse-gradient);
  color: var(--light);
}

.basic-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  text-align: left;
  font-weight: 700;
  background-image: linear-gradient(to right, #051937, #212548, #3b3058, #3b3058, #704874);
  box-shadow: 1px 1px 10px #9b81ae inset;
  color: white;
}

.basic-table tfoot > tr > td {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  text-align: left;
  font-weight: 700;
  background-image: linear-gradient(to right, #051937, #212548, #3b3058, #3b3058, #704874);
  box-shadow: 1px 1px 10px #9b81ae inset;
  color: white;
}

.basic-table-2 td, .basic-table-2 th, .basic-table-3 td, .basic-table-3 th {
  border: 1px solid rgb(187, 53, 53);
  padding: 8px;
}

.basic-table tr:hover, table.dataTable tbody tr:hover {
  color: var(--white);
}

.basic-table-2 th, table.dataTable thead th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  text-align: left;
  font-weight: 700;
  background-image: linear-gradient(to top, #ced9eb, #cfe5ee, #daefee, #eaf7f0, #fcfff6);
  color: var(--dark);
}

.basic-table-2 tfoot > tr > td, table.dataTable tfoot th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  text-align: left;
  font-weight: 700;
  background-image: linear-gradient(to bottom, #ced9eb, #cfe5ee, #daefee, #eaf7f0, #fcfff6);
  color: rgb(0, 0, 0);
}

.basic-table-3 th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  text-align: left;
  font-weight: 700;
  background-color: var(--soft-light);
  color: var(--dark);
}

.basic-table-3 tfoot > tr > td {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  text-align: left;
  font-weight: 700;
  background-color: var(--soft-light);
  color: var(--dark);
}
a.page-link {
  border: none;
}
@media (max-width: 992px) {
  .basic-table, .basic-table-2, .basic-table-3, table.dataTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: block;
    overflow: auto;
  }
  div.dt-buttons, div.dataTables_wrapper div.dataTables_length {
    float: none !important;
    text-align: left;
    margin-bottom: 5px;
  }
  .search-input, div.dataTables_wrapper div.dataTables_filter input {
    background: #ecf0fa;
    border: 1px solid #ecf0fa;
    width: 55%;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}


/* Basic Table Design End */

/* DataTable Design */
ul.pagination {
  border: none;
}
table.dataTable tbody tr:hover {
  background-image: linear-gradient(to right, #051937, #23274d, #403462, #604276, #824f87);
  box-shadow: 1px 1px 10px #9b81ae inset;
  font-weight: 400;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--success);
  box-shadow: 1px 1px 10px #9b81ae inset;
}
div.dataTables_wrapper div.dataTables_filter label, div.dataTables_wrapper div.dataTables_length label {
  font-weight: 500;
  white-space: nowrap;
  text-align: left;
  font-size: 13px;
  letter-spacing: 0.5px;
}
.table>:not(:last-child)>:last-child>* {
  border: none !important;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
  float: right;
}
div.dataTables_wrapper div.dataTables_length select, .base-table-select {
  width: 6em;
  outline: 0;
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--indigo);
  cursor: pointer;
  font-size: 1.10em;
  display: inline-block;
  box-shadow: none;
  background: #ecf0fa;
  position: relative;
  overflow: hidden;
  border-radius: .25em;
}
div.dataTables_wrapper div.dataTables_length select:focus {
  border-color: var(--danger);
}
/* DataTable Design */

/* Base Table Design */

.base_table_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 20px;
  flex-wrap: wrap;
}
.base_table_btns {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  flex-wrap: wrap;
}
.base-table-pdf-btns {
  display: inline-flex;
  border: 1px solid var(--danger);
  border-radius: 10px;
  padding: 0 20px;
}
.base-table-pdf-btns button:not(:last-child), .base-table-pdf-btns a:not(:last-child) {
  border-right: 1px solid var(--danger);
  margin-right: 5px;
}
.base-table-pdf-btns button:hover, .base-table-pdf-btns a:hover {
  background: var(--base-gradient);
  background-size: auto;
  color: #ffffff;
  background-size: 200% auto;
}
.base-table-pdf-btns a {
  background: transparent;
  color: var(--dark);
  font-size: 14px;
  font-weight: 500;
  border: 0;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  transition: 0.3s;
  cursor: pointer;
}
.base-table-search-field {
  width: 200px;
  position: relative;
}
.input-effect {
  float: left;
  width: 100%;
  position: relative;
}
.base-table-search-field .search-inner input {
  color: var(--dark);
  font-size: 10px;
  height: 40px;
  width: 100%;
  padding-left: 25px;
  border: 0;
  padding-right: 15px;
  border-bottom: 1px solid var(--gray);
  background: transparent;
}
.base-table-search-field .search-inner button {
  position: absolute;
  left: 0;
  top: 12px;
  height: 100%;
  width: 20px;
  color: var(--gray);
  background: transparent;
  font-size: 12px;
  border: 0;
  padding-left: 0px;
  padding-right: 11px;
}
.base-table-search-box:focus {
  box-shadow: 0 0 0 0rem transparent !important;
  border-color: var(--danger) !important;
}
/* Base Table Design */

/* Loader design */
.base-spinner {
  width: 56px;
  height: 56px;
  background-image: linear-gradient(to right, #051937, #23274d, #403462, #604276, #824f87);
  border: groove;
}

/* Loader design end */
.rounded-count.danger-text {
  border-radius: 50%;
  margin-left: 10px;
}
.product-box-lg {
  position: relative;
  width: auto;
  max-width: 435px;
  height: 250px;
  background-image: linear-gradient(to left, #f8acee, #dfa3ea, #c69be4, #ac93dd, #887fe9);
  overflow: hidden;
}
/* Discount Ribbon */
span.discount_amount_triangle {
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 10px;
  white-space: normal;
  font-weight: 600;
}
.ribbon {
  position: absolute;
  display: inline-block;
  top: 0.5em;
  right: 0.8em;
  max-width: 5em;
  color: var(--white);
  font-weight: 500;
  z-index: 1;
}
.ribbon::after {
  position: absolute;
  top: -1.5em;
  right: -6em;
  content: "";
  height: 5em;
  width: 15em;
  transform: rotatez(45deg);
  z-index:-1;
}
.ribbon-second {
  line-height: 0.8em;
  font-size: 1em;
  line-height: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgb(0 0 0 / 15%);
  display: block;
  width: 3rem;
  height: 2.96rem;
  color: white;
  margin: 0em 0.5em 0;
  float: left;
  padding-top: 1.5rem;
  position: relative;
  -webkit-filter: drop-shadow(0 0.5rem 0.3em rgba(0, 0, 0, 0.5));
  transform: translate3d(0, 0, 0);
}
.ribbon-second {
  background: linear-gradient(to bottom, #caf286 0%, #ff0000 100%);
}
.ribbon-next-color {
  background: linear-gradient(to bottom, #fc3d02 0%, #435caf 100%);
}
.ribbon-second:after {
  content: "";
  width: 0;
  height: 0;
  border-right: 1.52rem solid transparent;
  border-left: 1.52rem solid transparent;
  position: absolute;
  top: 2.95rem;
  left: 0;
}
.ribbon-next-color:after {
  border-top: 1.5rem solid #6443dc;
}
.ribbon-second-color:after {
  border-top: 1.5rem solid #ff0000;
}
.red-ribbon::after {
  background-color: var(--danger);
}
.indigo-ribbon::after {
  background-color: var(--indigo);
}
/* Discount Ribbon */

/* Buttons Design */

.white-text {
  color: var(--white);
}
.dark-text {
  color: var(--dark);
}
.black-text {
  color: var(--gray);
}
.danger-text {
  color: var(--danger);
}
.purple-text {
  color: var(--purple);
}
.indigo-text {
  color: var(--indigo);
}
.bg-primary {
  background-color: var(--primary) !important;
}
.bg-secondary {
  background-color: var(--secondary) !important;
}
.bg-success {
  background-color: var(--success) !important;
}
.bg-warning {
  background-color: var(--warning) !important;
}
.bg-danger {
  background-color: var(--danger) !important;
}
.bg-info {
  background-color: var(--info) !important;
}
.bg-light {
  background-color: var(--light) !important;
}
.bg-gray {
  background-color: var(--gray) !important;
}

.base-color-background {
  background-image: var(--base-gradient);
  color: var(--white);
}
.base-color-background:hover {
  background-image: linear-gradient(to top, #051937, #23274d, #403462, #604276, #824f87);
  color: var(--white);
}
.danger-color-background {
  background-image: var(--danger-gradient);
  color: var(--white);
}
.danger-color-background:hover {
  background-image: var(--danger-reverse-gradient);
  color: var(--white);
}
.green-color-background {
  background-image: var(--second-gradient);
  color: var(--white);
}
.green-color-background:hover {
  background-image: var(--second-reverse-gradient);
  color: var(--white);
}
.ignito-color-background {
  background-image: var(--base-gradient);
  color: var(--white);
}
.ignito-color-background:hover {
  background-image: var(--base-reverse-gradient);
  color: var(--white);
}
.c-color-background {
  background-image: var(--fourth-gradient);
  color: var(--white);
}
.d-color-background {
  background-image: var(--second-gradient);
  color: var(--white);
}
.d-color-background:hover {
  background-image: var(--fourth-gradient);
  color: var(--white);
}
.e-color-background {
  background-image: var(--third-gradient);
  color: var(--white);
}
.e-color-background:hover {
  background-image: var(--second-gradient);
  color: var(--white);
}
.c-color-background:hover {
  background-image: var(--fourth-reverse-gradient);
  color: var(--white);
}
.btn-primary, .btn-primary:focus {
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--danger);
}
.btn-primary:hover {
  color: var(--dark);
  background-image: var(--base-body-gradient);
  border-color: var(--danger) !important;
  font-weight: 400;
  box-shadow: 0 .125rem .25rem var(--danger);
}
.btn-secondary, .btn-secondary:focus {
  color: var(--white);
  background-color: var(--gray);
  border-color: var(--danger);
}
.btn-secondary:hover {
  color: var(--dark);
  background-image: var(--base-body-gradient);
  border-color: var(--danger);
  font-weight: 400;
  box-shadow: 0 .125rem .25rem var(--danger);
}
.btn-success, .btn-success:focus {
  color: var(--white);
  background-color: var(--success);
  border-color: var(--danger);
}
.btn-success:hover {
  color: var(--dark);
  background-image: var(--base-body-gradient);
  border-color: var(--danger);
  font-weight: 400;
  box-shadow: 0 .125rem .25rem var(--danger);
}
.btn-danger, .btn-danger:focus {
  color: var(--white);
  background-color: var(--danger);
  border-color: var(--secondary);
}
.btn-danger:hover {
  color: var(--dark);
  background-image: var(--base-body-gradient);
  border-color: var(--secondary);
  font-weight: 400;
  box-shadow: 0 .125rem .25rem var(--danger);
}
.btn-warning, .btn-warning:focus {
  color: var(--white);
  background-color: var(--warning);
  border-color: var(--danger);
}
.btn-warning:hover {
  color: var(--dark);
  background-image: var(--base-body-gradient);
  border-color: var(--danger);
  font-weight: 400;
  box-shadow: 0 .125rem .25rem var(--danger);
}
.btn-info, .btn-info:focus {
  color: var(--white);
  background-color: var(--info);
  border-color: var(--danger);
}
.btn-info:hover {
  color: var(--dark);
  background-image: var(--base-body-gradient);
  border-color: var(--danger);
  font-weight: 400;
  box-shadow: 0 .125rem .25rem var(--danger);
}
.btn-light, .btn-light:focus {
  color: var(--dark);
  background-color: var(--light);
  border-color: var(--danger);
}
.btn-light:hover {
  color: var(--dark);
  background-image: var(--base-body-gradient);
  border-color: var(--danger);
  font-weight: 400;
  box-shadow: 0 .125rem .25rem var(--danger);
}
.btn-dark, .btn-dark:focus {
  color: var(--white);
  background-color: var(--dark);
  border-color: var(--danger);
}
.btn-dark:hover {
  color: var(--danger);
  background-image: var(--base-body-gradient);
  border-color: var(--danger);
  font-weight: 400;
  box-shadow: 0 .125rem .25rem var(--danger);
}
.btn-link, .btn-link:focus {
  color: var(--danger);
  text-decoration: none;
  font-weight: 400;
}
.btn-link:hover {
  color: var(--indigo);
  font-weight: 400;
  box-shadow: 0 .125rem .25rem var(--danger);
}
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
  color: #fff;
  background-color: var(--danger);
  border-color: var(--primary);
}
.btn-outline-primary {
  color: var(--dark);
  border-color: var(--primary);
}
.btn-outline-primary:hover {
  color: var(--dark);
  background-color: var(--hov-primary);
  border-color: var(--danger);
  font-weight: 400;
}
.btn-outline-secondary {
  color: var(--dark);
  border-color: var(--secondary);
}
.btn-outline-secondary:hover {
  color: var(--dark);
  background-color: var(--secondary);
  border-color: var(--danger);
  font-weight: 400;
}
.btn-outline-success {
  color: var(--dark);
  border-color: var(--success);
}
.btn-outline-success:hover {
  color: var(--dark);
  background-color: var(--soft-success);
  border-color: var(--danger);
  font-weight: 400;
}
.btn-outline-danger {
  color: var(--dark);
  border-color: var(--danger);
}
.btn-outline-danger:hover {
  color: var(--dark);
  background-color: var(--soft-danger);
  border-color: var(--secondary);
  font-weight: 400;
}
.btn-outline-warning {
  color: var(--dark);
  border-color: var(--warning);
}
.btn-outline-warning:hover {
  color: var(--dark);
  background-color: var(--soft-warning);
  border-color: var(--danger);
  font-weight: 400;
}
.btn-outline-info {
  color: var(--dark);
  border-color: var(--info);
}
.btn-outline-info:hover {
  color: var(--dark);
  background-color: var(--soft-info);
  border-color: var(--danger);
  font-weight: 400;
}
.btn-outline-light {
  color: var(--dark);
  border-color: var(--light);
}
.btn-outline-light:hover {
  color: var(--dark);
  background-color: var(--soft-light);
  border-color: var(--danger);
  font-weight: 400;
}
.btn-outline-dark {
  color: var(--dark);
  border-color: var(--dark);
}
.btn-outline-dark:hover {
  color: var(--danger);
  background-color: var(--soft-dark);
  border-color: var(--danger);
  font-weight: 400;
}
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
  color: var(--dark);
  background-image: var(--base-body-gradient) !important;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.btn-check:checked {
  outline: none !important;
  box-shadow: none !important;
}
.action-td-div {
  display: flex;
  float: right;
}
a.td-action {
  border: 1px solid;
  border-radius: 20%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--danger);
}
a.td-action:hover {
  background-image: var(--base-body-gradient);
  color: var(--indigo);
}
.action-td-div a:not(:last-child) {
  margin-right: 5px;
}

input[type=checkbox], input[type=checkbox] {
  outline: none !important;
}
/* Buttons Design */

/* Pagination style */
.pagination {
  display: flex;
  list-style: none;
  padding: 10px;
  border: 1px solid var(--success);
  border-radius: 10px;
  width: max-content;
}
.page-link {
  position: relative;
  display: block;
  color: var(--dark);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid var(--dark);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.page-link:hover {
  z-index: 2;
  color: var(--white);
  background-image: var(--base-gradient);
  border-color: var(--danger);
  box-shadow: 1px 1px 10px #9b81ae inset;
}
.page-item:first-child .page-link, .pagination-sm .page-item:first-child .page-link, .pagination-lg .page-item:first-child .page-link {
  border-radius: 1rem;
}
.page-item .page-link {
  border-radius: 1rem;
}
.page-item:last-child .page-link, .pagination-sm .page-item:last-child .page-link, .pagination-lg .page-item:last-child .page-link {
  border-radius: 1rem;
}
.page-item .page-link {
  border-radius: 1rem;
  margin-left: 5px;
}
.page-item:not(:first-child) .page-link {
  margin-left: 5px;
}
.page-link:focus {
  z-index: 3;
  color: var(--white);
  background-image: var(--base-gradient);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--soft-success);
}


.page-item2:first-child .page-link, .pagination-sm .page-item2:first-child .page-link, .pagination-lg .page-item2:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.page-item2:last-child .page-link, .pagination-sm .page-item2:last-child .page-link, .pagination-lg .page-item2:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
/* Pagination style */

/*  */
.accordion-button:not(.collapsed) {
  color: var(--white);
  background-image: var(--base-gradient);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button:focus {
  z-index: 3;
  border-color: var(--dark);
  outline: 0;
  box-shadow: none;
}
/*  */
::-webkit-scrollbar {
  width: 6px;
  }
  ::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* background: #ef486a; */
  background-image: linear-gradient(to right, #051937, #23274d, #403462, #604276, #824f87);
  }

