@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
*,*::after,*::before{
box-sizing:inherit
}
*{
font:inherit
}
body {
font-family: "Lato", sans-serif;
}
i {
margin-right: 5px;
}
ol, ul {
padding-left: 0rem;
}
a {
text-decoration: none;
}
.navbar-dark-soft {
background-color: var(--gray-dark) !important;
color: var(--white);
}
.multi-menu {
display: none;
}
.sidebar-logo img{
margin-top: 0px;
margin-bottom: 10px;
border-bottom: 3px solid var(--danger);
max-height: 60px;
min-width: 250px;
max-width: 250px;
}
.sidebar {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: var(--gray-dark);
overflow-x: hidden;
transition: 0.5s;
}
.sidebar a {
padding: 8px 8px 8px 15px;
text-decoration: none;
letter-spacing: 1px;
font-size: 15px;
color: var(--white);
display: block;
transition: 0.3s;
}
.sidebar a:hover {
background-color: var(--danger);
color: var(--white);
font-weight: 400;
}
.sidebar .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.openbtn,.right-side-icon-head {
font-size: 20px;
cursor: pointer;
background-color: var(--gray-dark);
color: white;
padding: 10px 15px;
border: none;
}
.right-side-icon-head {
top: 5px;
}
.selected > a {
background-color: var(--gray);
color: var(--white);
border-left: 5px solid var(--danger);
}
.openbtn:hover {
background-color: var(--gray-dark);
}
#main-content {
transition: margin-left .5s;
padding: 16px;
}
.search-input {
background: #ecf0fa;
border: 1px solid #ecf0fa;
}
.search-btn {
position: relative;
inset-inline-end: 25px;
background-color: transparent;
height: 40px;
color: var(--danger);
transition: none;
font-size: 16px;
border: none;
}
.header-left {
display: flex;
align-items: center;
}
.header-right {
display: flex;
align-items: right;
}
input[type=text]:focus {
border: 3px solid var(--danger);
outline: none !important;
box-shadow: none !important;
}
li a i:nth-child(2) {
font-size: 15px;
float: right;
}
@media screen and (max-height: 450px) {
.sidebar {padding-top: 15px;}
.sidebar a {font-size: 15px;}
}
.navbar-expand-sm .navbar-nav .dropdown-menu {
position: absolute;
}
.form-control {
display: block;
width: 100%;
padding: 0.375rem 0.75rem;
font-size: 12px;
font-weight: 400;
line-height: 0;
}
.dropdown-toggle::after {
display:none;
}
.dropdown-menu {
-webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
box-shadow: 0 0.5rem 1rem rgb(255 218 218);
line-height: initial;
border: 0px solid #e9ecef;
margin: 0;
font-size: 14px;
background-color: var(--white);
}
.dropdown-item {
display: block;
width: auto;
padding: 0.25rem 1rem;
clear: both;
font-weight: 400;
color: #212529;
text-align: left;
text-decoration: none;
white-space: nowrap;
background-color: transparent;
border: 0;
}
.dropdown-divider, .divider {
height: 0;
margin: 0.5rem 0;
overflow: hidden;
border-top: 1px solid var(--danger);
}
.white-bottom-divider {
  border-bottom: 2px solid #fff;
  margin-bottom: 15px;
  width: 90%;
}
.white-bottom-divider-100 {
  border-bottom: 2px solid #fff;
  margin-bottom: 15px;
  width: 100%;
}
.danger-bottom-divider {
  border-bottom: 2px solid var(--danger);
  margin-bottom: 15px;
  width: 100%;
}
.navbar .dropdown-menu::after {
content: '';
width: 13px;
height: 13px;
background: #ffff;
position: absolute;
top: -6px;
right: 8px;
transform: rotate(45deg);
border-top: 1px solid #ddd;
border-left: 1px solid #ddd;
}
.user-box {
line-height: 1.3;
}
.user-info {
text-align: right;
margin-right: 15px;
}
.user-info .user-name {
font-size: 14px;
color: var(--white);
font-weight: 500;
}
.user-info .designattion {
font-size: 12px;
color: var(--white);
}
.user-img {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  border: 2px solid var(--danger);
  padding: 3px;
}
.vertical-align-middle {
vertical-align: middle;
}
.span-count {
position: absolute;
left: 20px;
top: 2px;
font-size: 11px;
font-weight: 500;
width: 18px;
height: 18px;
text-align: center;
border-radius: 50%;
z-index: 5;
padding: 0;
color: var(--white);
background-color: var(--danger);
display: flex;
justify-content: center;
align-items: center;
}
.dropdown-lg .msg-header {
padding: 0.25rem 0.25rem;
color: #fff;
border-bottom: 1px solid #7e0b0b;
background: var(--danger);
text-align: center;
}
.dropdown-lg .msg-header .msg-header-title {
font-size: 14px;
margin-bottom: 0;
}
.dropdown-lg .msg-name {
font-size: 12px;
margin-bottom: 0;
white-space: normal;
}
.dropdown-lg .msg-info {
font-size: 11px;
margin-bottom: 0;
}
.dropdown-lg .msg-time {
font-size: 11px;
margin-bottom: 0;
color: var(--danger);
}
.msg-header-subtitle {
margin-bottom: 0;
}
.dropdown-lg .msg-footer {
padding: 0.72rem 1.2rem;
color: var(--danger);
border-top: 1px solid #ededed;
background: transparent;
font-size: 14px;
font-weight: 500;
border-bottom-left-radius: 0.25rem;
border-bottom-right-radius: 0.25rem;
}
.header-notifications-list {
position: relative;
height: 370px;
}
.notification-div {
max-width: 250px;
min-width: 250px;
max-height: 300px;
overflow: auto;
}
::-webkit-scrollbar {
width: 6px;
}
::-webkit-scrollbar-track {
background-color: #ebebeb;
-webkit-border-radius: 10px;
border-radius: 10px;
}
::-webkit-scrollbar-thumb {
-webkit-border-radius: 10px;
border-radius: 10px;
background: #ef486a; 
}
.content {
  margin-top: 10px;
}
.breadcrumb-header {
  display: flex;
  width: 100%;
  z-index: 0;
}
.breadcrumb-item+.breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #ffffff;
  content: var(--bs-breadcrumb-divider, "/");
}
.white-text {
  color: var(--white);
}
.black-text {
  color: var(--gray);
}
.danger-text {
  color: var(--danger);
}
.purple-text {
  color: var(--purple);
}
.indigo-text {
  color: var(--indigo);
}
.justify-with-spacing {
  letter-spacing: 1px;
  font-style: normal;
  text-align: justify;
}
.justify-with-no-spacing {
  font-style: normal;
  text-align: justify;
}
.justify-with-spacing-italic {
  letter-spacing: 1px;
  font-style: italic;
  text-align: justify;
}
.title {
  font-size: 16;
  font-weight: 600;
}
.card-img-top {
  max-height: 140px;
}
.card-img-top-second {
  min-height: 200px;
  max-height: 200px;
}
.card-img-top-medium {
  min-height: 200px;
  max-height: 400px;
}
.breadcrumb-item {
  color: var(--white);
  font-size: 12px;
}
.breadcrumb-item.active {
  color: var(--white);
}
.rounded-count.danger-text {
  border-radius: 50%;
  margin-left: 10px;
}
.base-color-background {
  background-image: var(--sixth-gradient);
  color: var(--white);
}
.danger-color-background {
  background-image: var(--danger-gradient);
  color: var(--white);
}
.green-color-background {
  background-image: var(--second-gradient);
  color: var(--white);
}
.b-color-background {
  background-image: var(--third-gradient);
  color: var(--white);
}
.c-color-background {
  background-image: var(--fourth-gradient);
  color: var(--white);
}
.card-header-with-success-background {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 13px;
  background-image: linear-gradient(to right, #58cfb0, #59d6bf, #5ddecf, #62e5de, #6aecec);
  font-weight: 500;
}
.card-body-with-success-background {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  border-top: 1px solid #66ab9f;
  background-image: linear-gradient(to right, #58cfb0, #59d6bf, #5ddecf, #62e5de, #6aecec);
}
.card-header-with-primary-background {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 13px;
  background-image: linear-gradient(to right, #5858cf, #0078db, #008ed2, #009ebd, #3baaaa);
  font-weight: 500;
}
.card-body-with-primary-background {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  border-top: 1px solid #000000;
  background-image: linear-gradient(to right, #5858cf, #0078db, #008ed2, #009ebd, #3baaaa);
}
.card-header-with-gradient-background {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 13px;
  background-image: linear-gradient(to right bottom, #d5a8ff, #cb9ff9, #c196f4, #b78eee, #ac85e9);
  font-weight: 500;
}
.card-body-with-gradient-background {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  border-top: 1px solid #000000;
  background-image: linear-gradient(to right bottom, #d5a8ff, #cb9ff9, #c196f4, #b78eee, #ac85e9);
}
.card-header-with-gradient2-background {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 13px;
  background-image: linear-gradient(to right bottom, #9b4e62, #8e5074, #7a5581, #625a87, #485e87);
  font-weight: 500;
}
.card-body-with-gradient2-background {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  border-top: 1px solid #000000;
  background-image: linear-gradient(to right bottom, #9b4e62, #8e5074, #7a5581, #625a87, #485e87);
}
.card-header-with-gradient3-background {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 13px;
  background-image: linear-gradient(to left, #f8acee, #dfa3ea, #c69be4, #ac93dd, #918bd4);
  font-weight: 500;
}
.card-body-with-gradient3-background {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  border-top: 1px solid #000000;
  background-image: linear-gradient(to left, #f8acee, #dfa3ea, #c69be4, #ac93dd, #918bd4);
}
.product-box-lg {
  position: relative;
  width: auto;
  max-width: 435px;
  height: 250px;
  background-image: linear-gradient(to left, #f8acee, #dfa3ea, #c69be4, #ac93dd, #918bd4);
  overflow: hidden;
}
span.discount_amount_triangle {
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 10px;
  white-space: normal;
  font-weight: 600;
}
.ribbon {
  position: absolute;
  display: inline-block;
  top: 0.5em;
  right: 0.8em;
  max-width: 5em;
  color: var(--white);
  font-weight: 500;
  z-index: 1;
}

.ribbon::after {
  position: absolute;
  top: -1.5em;
  right: -6em;
  content: "";
  height: 5em;
  width: 15em;
  transform: rotatez(45deg);
  z-index:-1;
}
.ribbon-second {
  line-height: 0.8em;
  font-size: 1em;
  line-height: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgb(0 0 0 / 15%);
  display: block;
  width: 3rem;
  height: 1.5rem;
  color: white;
  margin: 0em 0.5em 0;
  float: left;
  padding-top: 1.5rem;
  position: relative;
  -webkit-filter: drop-shadow(0 0.5rem 0.3em rgba(0, 0, 0, 0.5));
  transform: translate3d(0, 0, 0);
}
.ribbon-second {
  background: linear-gradient(to bottom, #caf286 0%, #ff0000 100%);
}
.ribbon-next-color {
  background: linear-gradient(to bottom, #fc3d02 0%, #435caf 100%);
}
.ribbon-second:after {
  content: "";
  width: 0;
  height: 0;
  border-right: 1.52rem solid transparent;
  border-left: 1.52rem solid transparent;
  position: absolute;
  top: 2.95rem;
  left: 0;
}
.ribbon-next-color:after {
  border-top: 1.5rem solid #6443dc;
}
.ribbon-second-color:after {
  border-top: 1.5rem solid #ff0000;
}

.red-ribbon::after {
  background-color: var(--danger);
}

.indigo-ribbon::after {
  background-color: var(--indigo);
}